@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

@media (max-width: 1025px) {
  .container {
    max-width: 900px; } }

@media (max-width: 768px) {
  .container {
    max-width: 750px; } }

.search-container {
  margin: 0 20px 0 20px; }
  .search-container .search-box {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: transparent; }
  .search-container .search-button {
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent; }

@media (max-width: 1025px) {
  .search-container .search-box {
    width: 150px;
    padding: 5px; }
  .search-container .search-button {
    padding: 5px; } }

@media (max-width: 768px) {
  .search-container .search-box {
    padding: 6px;
    width: 137px; }
  .search-container .search-button {
    padding: 6px; } }

@media (max-width: 425px) {
  .search-container {
    margin-top: 10px; }
    .search-container .search-box {
      width: 250px; } }

@media (max-width: 375px) {
  .search-container {
    margin-top: 10px; }
    .search-container .search-box {
      width: 240px; } }

@media (max-width: 321px) {
  .search-container {
    margin-top: 10px; }
    .search-container .search-box {
      width: 180px; } }

.footer {
  position: relative;
  width: 100%;
  background: whitesmoke;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap; }
    .footer .social-icon .icon-elem {
      list-style: none; }
      .footer .social-icon .icon-elem .icon {
        color: black;
        font-size: 32px;
        display: inline-block;
        margin: 0px 10px;
        transition: 0.5s; }
      .footer .social-icon .icon-elem .icon:hover {
        transform: translateY(-10px);
        color: #ef3535; }

@media (max-width: 391px) {
  .footer p {
    font-size: 13px; } }

.grid .products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "img-3 img-1" "img-2 text-2"; }
  .grid .products img {
    width: 100%;
    height: 100%; }
  .grid .products .img-3 {
    grid-area: img-3; }
  .grid .products .img-1 {
    grid-area: img-1; }
  .grid .products .img-2 {
    grid-area: img-2; }
  .grid .products .text-2 {
    grid-area: text-2;
    max-width: 1200px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .grid .products .text-2 h3 {
      font-size: 55px;
      line-height: 70px;
      color: black;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center; }
    .grid .products .text-2 p {
      font-size: 16px;
      color: #414247;
      margin: 25px 0px 45px 0;
      text-align: center; }
    .grid .products .text-2 ul li a {
      display: inline-block;
      padding: 11px 35px;
      color: white;
      background-color: #d02c2c;
      border-radius: 25px;
      text-transform: uppercase; }
    .grid .products .text-2 ul li a:hover {
      background-color: #ef3535; }

@media (max-width: 1025px) {
  .grid .products {
    grid-template-rows: 0.5fr 0.5fr; }
    .grid .products .text-2 {
      justify-content: space-around;
      padding: 20px;
      margin: 0; }
      .grid .products .text-2 h3 {
        font-size: 25px;
        margin: 0; }
      .grid .products .text-2 p {
        font-size: 14px;
        margin: 0; }
      .grid .products .text-2 ul li a {
        padding: 9px 20px;
        font-size: 12px;
        margin-top: 30px; } }

@media (max-width: 768px) {
  .grid .products {
    grid-template-rows: 0.5fr 0.5fr; }
    .grid .products .text-2 {
      padding: 10px; }
      .grid .products .text-2 h3 {
        font-size: 20px; }
      .grid .products .text-2 p {
        font-size: 12px;
        padding: 9px; }
      .grid .products .text-2 ul li a {
        margin: 20px; } }

@media (max-width: 425px) {
  .grid .products {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "text-2"; }
    .grid .products .img-1 {
      display: none; }
    .grid .products .img-2 {
      display: none; }
    .grid .products .img-3 {
      display: none; }
    .grid .products .text-2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../resources/imagen-fondo-grid-texto.jpg);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover; }
      .grid .products .text-2 h3 {
        color: white; }
      .grid .products .text-2 p {
        color: white;
        padding: 2px; } }

.header .header-content {
  text-align: center; }
  .header .header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 35px; }

.header .header-content ul li a {
  display: inline-block;
  padding: 11px 35px;
  color: white;
  background-color: #d02c2c;
  border-radius: 25px; }

.header .header-content ul li a:hover {
  background-color: #ef3535; }

@media (max-width: 425px) {
  .header .header-content h1 {
    display: none; }
  .header .header-content ul li a {
    display: none; } }

@media (max-width: 375px) {
  .header .header-content h1 {
    font-size: 50px; } }

.header {
  background-image: url(../resources/background-header.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center; }

@media (max-width: 425px) {
  .header {
    min-height: 35vh; } }

.header .menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .header .menu .logo {
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800; }

@media (max-width: 768px) {
  .header .menu {
    margin: 15px; }
  .header .logo {
    margin-right: 12px;
    font-size: 15px; } }

@media (max-width: 425px) {
  .header .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; } }

.header .navbar ul li {
  position: relative;
  float: left; }
  .header .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;
    font-weight: 600; }
  .header .navbar ul li a:hover {
    color: #ef3535; }

@media (max-width: 1025px) {
  .header .navbar ul li a {
    padding: 15px;
    font-size: 14px; } }

@media (max-width: 768px) {
  .header .navbar ul li a {
    padding: 6px;
    font-size: 12px; } }

@media (max-width: 425px) {
  .header .navbar ul li a {
    margin-top: 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px; } }

@media (max-width: 391px) {
  .header .navbar ul li a {
    padding: 2px;
    font-size: 10px; } }

@media (max-width: 321px) {
  .header .navbar ul li a {
    font-size: 10px; } }

.card-products {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  margin-top: 20px; }

.offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .offers .product-card {
    max-width: 350px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 20px 30px 20px 20px;
    overflow: hidden;
    margin: 20px; }
    .offers .product-card .logo-cart {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .offers .product-card .logo-cart .logo-product {
        height: 100px;
        width: 100px;
        object-fit: cover; }
      .offers .product-card .logo-cart li a img {
        height: 40px;
        width: 30px;
        object-fit: cover; }
    .offers .product-card .main-images {
      position: relative;
      height: 210px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap; }
      .offers .product-card .main-images img {
        height: 200px;
        width: 200px;
        object-fit: cover; }
    .offers .product-card .product-detail {
      font-size: 24px;
      font-weight: 500;
      color: black;
      text-align: center; }
      .offers .product-card .product-detail p {
        font-size: 12px;
        font-weight: 400;
        color: #333;
        text-align: center;
        padding: 8px; }
      .offers .product-card .product-detail .stars-price {
        display: flex;
        flex-direction: column; }
        .offers .product-card .product-detail .stars-price .price-num {
          font-size: 23px;
          padding: 20px; }
      .offers .product-card .product-detail .stars ion-icon {
        margin-left: 0 -1px;
        color: #333; }
    .offers .product-card .button {
      position: relative;
      height: 50px;
      width: 100%;
      background: #d02c2c;
      border-radius: 25px;
      margin-top: 30px; }
      .offers .product-card .button button {
        position: relative;
        height: 100%;
        width: 100%;
        background: none;
        outline: none;
        border: none;
        font-size: 18px;
        font-weight: 600;
        color: #fff; }
      .offers .product-card .button button:hover {
        background-color: #ef3535;
        border-radius: 25px; }

.slider {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
  background-color: whitesmoke; }

.slider .slide-track {
  display: flex;
  animation: scroll 120s linear infinite;
  width: calc(200px * 16);
  margin: 7px; }

.slider .slide {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.slider .slide img {
  height: 30px;
  width: 30px; }

.slider .slide p {
  font-size: 10px;
  margin: 10px;
  text-transform: uppercase; }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-200px * 8)); } }

@media (max-width: 425px) {
  .slider .slide-track {
    animation: scroll 60s; }
  .slider .slide img {
    width: 20px;
    height: 20px; }
  .slider .slide p {
    margin: 5px; } }

.breadcrumbs {
  padding: 10px; }
  .breadcrumbs ul {
    display: flex; }
    .breadcrumbs ul img {
      width: 21px; }
    .breadcrumbs ul svg {
      width: 30px; }
    .breadcrumbs ul li a {
      color: black; }

.header-ofertas {
  background-image: url(../resources/banner-ofertas.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  display: flex;
  align-items: center; }

@media (max-width: 425px) {
  .header-ofertas {
    min-height: 35vh;
    background-image: url(../resources/fondo-mobile.png); } }

.header-ofertas .menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .header-ofertas .menu .logo {
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800; }

@media (max-width: 768px) {
  .header-ofertas .menu {
    margin: 15px; }
  .header-ofertas .logo {
    margin-right: 12px;
    font-size: 15px; } }

@media (max-width: 425px) {
  .header-ofertas .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; } }

.header-ofertas .navbar ul li {
  position: relative;
  float: left; }
  .header-ofertas .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;
    font-weight: 600; }
  .header-ofertas .navbar ul li a:hover {
    color: #ef3535; }

@media (max-width: 1025px) {
  .header-ofertas .navbar ul li a {
    padding: 15px;
    font-size: 14px; } }

@media (max-width: 768px) {
  .header-ofertas .navbar ul li a {
    padding: 6px;
    font-size: 12px; } }

@media (max-width: 425px) {
  .header-ofertas .navbar ul li a {
    margin-top: 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px; } }

@media (max-width: 391px) {
  .header-ofertas .navbar ul li a {
    padding: 2px;
    font-size: 10px; } }

@media (max-width: 321px) {
  .header-ofertas .navbar ul li a {
    font-size: 10px; } }

.offers-ofertas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .offers-ofertas .product-card {
    max-width: 350px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 20px 30px 20px 20px;
    overflow: hidden;
    margin: 20px; }
    .offers-ofertas .product-card .logo-cart {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .offers-ofertas .product-card .logo-cart .logo-product {
        height: 100px;
        width: 100px;
        object-fit: cover; }
      .offers-ofertas .product-card .logo-cart li a img {
        height: 40px;
        width: 30px;
        object-fit: cover; }
    .offers-ofertas .product-card .main-images {
      position: relative;
      height: 210px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap; }
      .offers-ofertas .product-card .main-images img {
        height: 200px;
        width: 200px;
        object-fit: cover; }
    .offers-ofertas .product-card .product-detail {
      font-size: 24px;
      font-weight: 500;
      color: black;
      text-align: center; }
      .offers-ofertas .product-card .product-detail p {
        font-size: 12px;
        font-weight: 400;
        color: #333;
        text-align: center;
        padding: 10px; }
      .offers-ofertas .product-card .product-detail .stars-price {
        display: flex;
        flex-direction: column; }
        .offers-ofertas .product-card .product-detail .stars-price .price-num {
          font-size: 23px;
          padding: 20px;
          text-decoration: line-through; }
        .offers-ofertas .product-card .product-detail .stars-price .price-num-new {
          font-size: 25px;
          font-weight: 700;
          color: #ef3535; }
        .offers-ofertas .product-card .product-detail .stars-price .price-num-comb {
          text-decoration: none;
          font-size: 23px;
          padding: 20px; }
      .offers-ofertas .product-card .product-detail .stars ion-icon {
        margin-left: 0 -1px;
        color: #333; }
    .offers-ofertas .product-card .button {
      position: relative;
      height: 50px;
      width: 100%;
      background: #d02c2c;
      border-radius: 25px;
      margin-top: 30px; }
      .offers-ofertas .product-card .button button {
        position: relative;
        height: 100%;
        width: 100%;
        background: none;
        outline: none;
        border: none;
        font-size: 18px;
        font-weight: 600;
        color: #fff; }
      .offers-ofertas .product-card .button button:hover {
        background-color: #ef3535;
        border-radius: 25px; }

@media (max-width: 425px) {
  .card-products {
    font-size: 26px;
    margin-top: 18px;
    margin-bottom: 18px; } }

@media (max-width: 391px) {
  .card-products {
    font-size: 24px;
    margin-top: 18px;
    margin-bottom: 18px; } }

.header-productos {
  background-image: url(../resources/background-products.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  display: flex;
  align-items: center; }

@media (max-width: 425px) {
  .header-productos {
    min-height: 35vh;
    background-image: url(../resources/background-products.png); } }

.header-productos .menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .header-productos .menu .logo {
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800; }

@media (max-width: 768px) {
  .header-productos .menu {
    margin: 15px; }
  .header-productos .logo {
    margin-right: 12px;
    font-size: 15px; } }

@media (max-width: 425px) {
  .header-productos .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; } }

.header-productos .navbar ul li {
  position: relative;
  float: left; }
  .header-productos .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;
    font-weight: 600; }
  .header-productos .navbar ul li a:hover {
    color: #ef3535; }

@media (max-width: 1025px) {
  .header-productos .navbar ul li a {
    padding: 15px;
    font-size: 14px; } }

@media (max-width: 768px) {
  .header-productos .navbar ul li a {
    padding: 6px;
    font-size: 12px; } }

@media (max-width: 425px) {
  .header-productos .navbar ul li a {
    margin-top: 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px; } }

@media (max-width: 391px) {
  .header-productos .navbar ul li a {
    padding: 2px;
    font-size: 10px; } }

@media (max-width: 321px) {
  .header-productos .navbar ul li a {
    font-size: 10px; } }

.header-nos {
  display: flex;
  align-items: center;
  background-image: url(../resources/backgound-nosotros.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh; }

@media (max-width: 425px) {
  .header-nos {
    min-height: 35vh;
    background-image: url(../resources/fondo-mobile.png); } }

.header-nos .menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .header-nos .menu .logo {
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800; }

@media (max-width: 768px) {
  .header-nos .menu {
    margin: 15px; }
  .header-nos .logo {
    margin-right: 12px;
    font-size: 15px; } }

@media (max-width: 425px) {
  .header-nos .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; } }

.header-nos .navbar ul li {
  position: relative;
  float: left; }
  .header-nos .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: black;
    display: block;
    font-weight: 600; }
  .header-nos .navbar ul li a:hover {
    color: #ef3535; }

@media (max-width: 1025px) {
  .header-nos .navbar ul li a {
    padding: 15px;
    font-size: 14px; } }

@media (max-width: 768px) {
  .header-nos .navbar ul li a {
    padding: 6px;
    font-size: 12px; } }

@media (max-width: 425px) {
  .header-nos .navbar ul li a {
    margin-top: 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 7px; } }

@media (max-width: 391px) {
  .header-nos .navbar ul li a {
    padding: 2px;
    font-size: 10px; } }

@media (max-width: 321px) {
  .header-nos .navbar ul li a {
    font-size: 10px; } }

.contacto {
  display: flex;
  justify-content: center;
  margin: 20px 10px 30px 10px; }
  .contacto .info-contacto {
    margin-right: 20px;
    border: solid black;
    padding: 20px; }
    .contacto .info-contacto .contact {
      font-size: 25px;
      margin-bottom: 5px; }
    .contacto .info-contacto .icon-1 {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .contacto .info-contacto .icon-1 img {
        width: 30px; }
      .contacto .info-contacto .icon-1 p {
        font-weight: 500;
        margin-left: 5px; }
    .contacto .info-contacto .icon-2 {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .contacto .info-contacto .icon-2 img {
        width: 30px; }
      .contacto .info-contacto .icon-2 p {
        font-weight: 500;
        margin-left: 5px; }
    .contacto .info-contacto .icon-3 {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .contacto .info-contacto .icon-3 img {
        width: 30px; }
      .contacto .info-contacto .icon-3 p {
        font-weight: 500;
        margin-left: 5px; }

@media (max-width: 425px) {
  .contacto .info-contacto .contact {
    font-size: 20px;
    margin-bottom: 5px; }
  .contacto .info-contacto .icon-1 img {
    width: 20px; }
  .contacto .info-contacto .icon-1 p {
    font-size: 10px; }
  .contacto .info-contacto .icon-2 img {
    width: 20px; }
  .contacto .info-contacto .icon-2 p {
    font-size: 10px; }
  .contacto .info-contacto .icon-3 img {
    width: 20px; }
  .contacto .info-contacto .icon-3 p {
    font-size: 10px; } }

@media (max-width: 391px) {
  .contacto {
    display: flex;
    flex-direction: column-reverse; }
    .contacto .info-contacto {
      margin: 0%; } }
