.header-nos {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

//-------------------- RESPONSIVE --------------------//
//Mobile L//
@media (max-width:425px) {
    .header-nos{
        min-height: 35vh;
        background-image: url(../resources/fondo-mobile.png);
    }
}


