.header-nos {
    display: flex;
    align-items: center;
    background-image: url(../resources/backgound-nosotros.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;

}

//-------------------- RESPONSIVE --------------------//
//Mobile L//
@media (max-width:425px) {
    .header-nos{
        min-height: 35vh;
        background-image: url(../resources/fondo-mobile.png);
    }
}


