.header {
    background-image: url(../resources/background-header.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

//-------------------- RESPONSIVE --------------------//
//Mobile L//
@media (max-width:425px) {
    .header{
        min-height: 35vh;
    }
}